<div class="banner-categorias-container">
    <div class="grid-categorias">

      <div class="categoria-item">
        <img src="assets/images/categories/img-category-1.jpg" alt="Categoría 1">
        <div class="text-category-iphone">
            <h2>iPhone 16</h2>
            <h3>Hello, Apple Intelligence.</h3>
            <div class="buttons">
              <p><a class="learnmore" (click)="goToiphone()">Learn more</a></p>
              <p class="buy">Buy</p>
            </div>
        </div>
      </div>
      <div class="categoria-item">
        <img src="assets/images/categories/img-category-2.jpg" alt="Categoría 2">
        <div class="text-category-watch">
            <h2>Watch</h2>
            <h3>Thinstant classic.</h3>
            <div class="buttons">
                <p class="learnmore">Learn more</p>
                <p class="buy">Buy</p>
            </div>
        </div>
      </div>
      
      <div class="categoria-item">
        <img src="assets/images/categories/img-category-4.jpg" alt="Categoría 4">
        <div class="text-category-mac">
            <h2>MacBook Air</h2>
            <h3>Lean. Mean. M3 machine.</h3>
            <div class="buttons">
                <p class="learnmore">Learn more</p>
                <p class="buy">Buy</p>
            </div>
        </div>
      </div>

      <div class="categoria-item">
        <img src="assets/images/categories/img-category-3.jpg" alt="Categoría 3">
        <div class="text-category-watch-1">
            <h2>iPad Pro</h2>
            <h3>unbelievably thin. Incredibly powerful.</h3>
            <div class="buttons">
              <p class="learnmore">Learn more</p>
              <p class="buy">Buy</p>
            </div>     
        </div>
        <span>Hello, Apple Intelligence.</span>
      </div>

    </div>
  </div>
  