.profile-container {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .user-info {
    margin-bottom: 20px;
  }
  
  h3 {
    color: #333;
  }
  
  .user-section, .editor-section, .admin-section {
    padding: 10px;
    border-radius: 5px;
    background-color: #eaeaea;
    margin-top: 20px;
  }
  
  .user-section {
    background-color: #d9f7d9;
  }
  
  .editor-section {
    background-color: #ffd699;
  }
  
  .admin-section {
    background-color: #ffcccc;
  }
  