

    <div class="banner-secundario">

        <img src="assets/images/homeimgs/hero_iphone16pro_avail__fnf0f9x70jiy_largetall.jpg" alt="">
        <div class="text-iphone">
            <h2>iPhone 16 Pro</h2>
         <h3>Hello, Apple Intelligence.</h3>
        <div class="buttons">
            <p class="learnmore">Learn more</p>
            <p class="buy">Buy</p>
        </div>
    </div>

    </div>

    <div class="banner-principal">

        <div class="banner-secundario">
         <img src="assets/images/homeimgs/hero_iphone16_avail__euwzls69btea_largetall.jpg" alt="">
         <div class="text-iphone">
            <h2>iPhone 16</h2>
            <h3>Hello, Apple Intelligence.</h3>
        <div class="buttons">
            <p class="learnmore-16">Learn more</p>
            <p class="buy-16">Buy</p>
        </div>
    </div>
        </div>
    
        

    </div>

